.first{
	background-color:red;
	height:300px;
	width:100%;
	display: inline-block;
}

.second{
	font-family:"trebuchet ms",sans-serif;
	font-size:90%;
}
body{
	background-color:rgba(9, 9, 161, 0.829);
}

.logo{
	display:block;
	margin:auto;
	height:300px;
}
.login{
	display:block;
	margin: auto;
	height:100px;
	width:100px;
}
h3, h1{
	display:block;
	text-align:center;
	font-family:"trebuchet ms",sans-serif;
	color:white;
}
a{
	color:white;
}
