body{
    /*background-color:rgba(9, 9, 161, 0.829);*/
}
both{
    width:400px;
    background-color:#ccc;
    border: 10px solid #ddd;
}
.right{
   position:absolute;
   top:150px;
   left: 50px;


}
.left{
    
    position:absolute;
    top:150px;
    right: 50px;
 

}